.header {
  text-align: center;
}

.logo {
  height: 80px;
}

.header nav {
  line-height: 40px;
  background-color: #000;
}

.header nav a {
  color: #fff;
  margin: 0 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.header nav a:hover {
  color: #000;
  border-radius: 2px;
  background-color: #d3d3d3;
}
